// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-left {
  border-right: 1px solid #DDD;
}


.next {
  h1 {
    font-size: 70px;
  }

  p {
    font-size: 24px;
    line-height: 25px;
  }

  h2 {
    margin-top: 10px;
  }
}